@import "node_modules/bulma/css/bulma.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #eee;
}

.is-vertical-center {
    display: flex;
    align-items: center;
  }
